<div class="container shadow-lg p-3 mb-5 bg-body rounded">
  <div class="container-estudios shadow-lg p-3 mb-5 bg-body rounded">
    <h2>TRABAJOS PRESENTADOS</h2>
  </div>

  <div class="container">
    <div class="row" id="acordeones">
      <div class="col-2"></div>

      <div class="col-md-8">
        <div class="accordion acordeon-flush" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="fal"
                aria-controls="collapseOne"
              >
                TRABAJOS PRESENTADOS
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <ul ngClass="listaEstudios">
                  <li *ngFor="let trabajo of trabajosPresentados">
                    <p>
                      {{ trabajo.lugar }}
                      {{ trabajo.titulo }}
                    </p>
                    <br />
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
</div>
<br /><br />
