.deco {
  text-decoration: none;
  list-style: none;
}

.container-banner {
  width: 100%;
  color: #a0aeb1;
  background-image: url(src/assets/images/banner-g8b8f7944b_1920.jpg);
  border-radius: 8px;
}
.miFoto {
  max-height: 150px;

  /* margin: 40px 20px; */
  border-radius: 50%;
}
.deco {
  list-style-type: none;
}
